DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE
BENCHMARK_DATABASE_URL=postgresql+psycopg2://USER:PASSWORD@HOST:5432/DATABASE
PARSI_API_KEY= YOUR_API_KEY
POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=YOUR_POSTGRES_DB
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SPATIAL_DATA_DIR=/path/to/geospatial/data
